.button {
  display: inline-block;
  font-family: $secondary-font;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding: 0;
  margin: 0;
}

@media (max-width: $mobile-width-only) {
  .button {
    width: 100%;
  }
}

.button--primary-light {
  border: 2px solid $primary-border-light;
  color: $primary-text-light;
  padding-top: 22px;
  padding-bottom: 22px;
}

.button--primary-dark {
  border: 2px solid $primary-border-dark;
  color: $primary-text-dark;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.button--link-light {
  font-size: 14px;
  line-height: 14px;
  color: $text-button-secondary;
  border-bottom: 1px solid $secondary-border-light;
  padding: 0;
  padding-bottom: 5px;
  width: fit-content;
}

.button--link-dark {
  font-size: 14px;
  line-height: 14px;
  color: $primary-text-dark;
  border-bottom: 1px solid $primary-border-dark;
  padding: 0;
  padding-bottom: 4px;
  width: max-content;
}
