.button {
  display: inline-block;
  font-family: $secondary-font;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding: 0;
  margin: 0;
}

@media (max-width: $mobile-width-only) {
  .button {
    width: 100%;
  }
}

.button--primary-light {
  border: 2px solid $primary-border-light;
  color: $primary-text-light;
  padding-top: 22px;
  padding-bottom: 22px;
}

.button--primary-dark {
  border: 2px solid $primary-border-dark;
  color: $primary-text-dark;
  padding-top: 22px;
  padding-bottom: 22px;
}

.button--tab {
  font-family: $secondary-font;
  color: $primary-text-light;
  border: 1px solid $tab-border;
  padding: 14px 22px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
}

.button--tab-current {
  background-color: $seconadary-blocks;
  background-image: $tab-background;
  color: $primary-text-dark;
  padding: 14px 23px;
}

.button--link-light {
  font-size: 14px;
  line-height: 14px;
  color: $text-button-secondary;
  border-bottom: 1px solid $secondary-border-light;
  padding: 0;
  padding-bottom: 5px;
  width: fit-content;
}

.button--link-dark {
  font-size: 14px;
  line-height: 14px;
  color: $primary-text-dark;
  border-bottom: 1px solid $primary-border-dark;
  padding: 0;
  padding-bottom: 4px;
  width: max-content;
}
