.games__container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  color: $primary-text-dark;
  padding-top: 25px;
  padding-bottom: 25px;
}

.games__title {
  @include indent-reset;
  @include custom-h2($primary-text-dark);

  text-align: left;
}

.games__text {
  padding: 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 56px;
  position: relative;
  gap: 16px 37px;
  max-width: 290px;
}

.games__text::before {
  content: "";
  position: absolute;
  background-color: $banner-background;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

.games__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.games__date,
.games__time {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.games__date-value {
  @include indent-reset;

  display: flex;
  gap: 4px;
}

.games__date-label {
  @include indent-reset;
  @include text-l($primary-border-dark);

  text-align: left;
}

.games__date-label::after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 2px;
  height: 1px;
  background-color: $primary-background;
}

.games__date-number {
  @include indent-reset;
  @include numbers($primary-text-dark);
}

.games__date-text {
  display: block;

  @include text-xs($primary-text-dark);

  text-align: left;
}

.games__description {
  @include indent-reset;
  @include text-l($primary-text-dark);

  max-width: 175px;
  grid-column: 1 / 3;
}

.games__picture {
  width: 100%;
  max-width: 1000px;
}

.games__image {
  display: block;
  width: 100%;
  height: auto;
}

.games__button {
  grid-column: 1 / 3;
}
