.main-header {
  background-color: $seconadary-blocks;
  background-size: cover;
  background-image: $main-background;
}

.main-header__container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.main-header__telephone {
  display: block;

  @include indent-reset;
  @include custom-h4($primary-text-dark);

  text-decoration: none;
}
