.main-footer {
  background-color: $footer-background;
}

.main-footer__container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 45px;
    flex-direction: row;
    gap: 36px;
    min-width: 396px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 41px;
    padding-bottom: 39px;
    justify-content: space-between;
  }
}

.main-footer__nav-list {
  @include list-reset;

  display: flex;
  max-width: 290px;
  gap: 20px 35px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    gap: 30px;
    min-width: 391px;
    max-width: 463px;
    margin-top: 1px;
  }

  @media (min-width: $desktop-width) {
    min-width: 598px;
    max-width: 600px;
    margin-top: 1px;
  }
}

.main-footer__nav-item {
  display: flex;
}

.main-footer__nav-link {
  @include indent-reset;
  @include text-s($primary-text-dark);

  text-decoration: none;
}
