.price {
  background-color: $secondary-background;
}

.price__container {
  padding-top: 40px;
  padding-bottom: 40px;
  color: $primary-text-light;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
}

.price__title {
  @include indent-reset;
  @include custom-h3($primary-text-light);
  padding-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 33px;
  }
}

.price__filters {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;


  @media (min-width: $tablet-width) {
    max-width: 310px;
    gap: 43px;
    flex-wrap: wrap;
    margin-bottom: 45px;
  }
}

.price__filters::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $default-tab-border;
  bottom: 0;
  right: 0;
  left: 0;
}

.price__filter {
  color: $text-ultra-light;
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    padding-bottom: 1px;
  }
}

.price__filter--current {
  color: $primary-text-light;
  border-bottom: 2px solid $primary-tab-border;
}

.price__tab {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }
}
