.subscriptions {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet-width) {
    gap: 40px;
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .subscriptions::before {
    content: "";
    width: 336px;
    height: 353px;
    position: absolute;
    display: block;
    transform: rotate(0deg);
    bottom: -25.74px;
    right: -217px;
    background-size: 383px 423px;
    background-image: image-set(
      "/img/weight-plates/weight-plates-tablet@1x.webp" 1x,
      "/img/weight-plates/weight-plates-tablet@2x.webp" 2x,
      "/img/weight-plates/weight-plates-tablet@1x.png" 1x,
      "/img/weight-plates/weight-plates-tablet@2x.png" 2x,
    );
  }
}


.subsciptions__cart {
  padding: 50px 42px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: $primary-background;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 65px;
    min-width: 380px;
    gap: 0;
    position: relative;
    z-index: 1;
  }
}

.subscriptions__name {
  @include indent-reset;
  @include custom-h4($primary-text-light);

  @media (min-width: $tablet-width) {
    padding-bottom: 22px;
  }
}

.subscriptions__time {
  @include indent-reset;
  @include text-m($primary-text-light);

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }
}

.subscriptions__prices {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 24px;
  }
}

.subscriptions__price-value {
  @include indent-reset;
  @include numbers-m($secondary-text-light);
}

.subscriptions__price-currency {
  @include indent-reset;
  background-image: url("/__spritemap#sprite-rub-view");
  background-size: 24px 33px;
  width: 24px;
  height: 33px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 42px;
    background-size: 30px 42px;
  }
}

.subscriptions__price-value--bg-shadow {
  @include numbers-xl($text-shadow);
  position: relative;
}

.subscriptions__price {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 10px;
  align-items: center;

  @media (min-width: $tablet-width) {
    gap: 13px;
    bottom: -8px;
  }
}

.subscriptions__buy {
  padding-top: 25px;
  padding-bottom: 25px;
}
